body {
	font-family: 'Ubuntu', sans-serif;
}

.centered {
	text-align: center;
}

#header {
	background: url("../images/background.png") no-repeat center center scroll;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100vw;
	color: 	black;
	font-size: 18px;
	vertical-align: center;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 128px;
	font-weight: 300;
	text-align: center;
	color: rgba(25,25,25, 0.7);
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
}

#profile-photo {
	width: 200px;
	max-width: 200px;
	border-radius: 100px;
	border: 5px solid white;
}

.links {
	margin-top: 20px;
	font-size: 64px;
}
.links a {
	color: black;
}

.project {
	margin-top: 15px;
}

.project img {
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
}

.project-description {
	text-align: justify;
	font-size: 18px;
}

.project-description strong {
	font-family: 'Quicksand', sans-serif;
}

.tagline-body {
	min-height: 200px;
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.tagline {
	position: relative;
  top: 50%;
  transform: translateY(50%);
}

#resume {
	background: rgba(10, 10, 10, 0.8);
	width: 100%;
	color: white;
}

#resume h1 {
	color: white;
}

#resume button {
	background-color: #567EA0;
	border-color: #567EA0;
	font-size: 18px;
	margin: 25px;
	border-radius: 2px;
}


.footer {
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 58px;
	}
	
	#profile-photo {
		max-width: 150px;
		border-radius: 75px;
	}
	
	.bio {
		text-align: center;
	}
	
	.tagline-body {
		min-height: 0;
		margin-top: 10px;
	}
	
	.tagline {
		position: relative;
		top: 0;
		transform: translateY(0);
	}

	.project-description {
		padding-top: 15px;
	}
}
@media(min-width: 769px) {
	.bio {
		position:absolute;
		top:50%;
		left:50%;
		transform:translateX(-50%) translateY(-50%);
	}
}
